@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.background{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.container{
    font-family: "Josefin Sans",sans-serif;
    display: grid;
}

.brand{
    padding: 2rem;
}

.brand .img{
    max-width: 100px;
}

.image .img-desktop{
    position: absolute;
    width: 1px;
    visibility: hidden;
    z-index: -1;
}

.image .img_mobile{
    width: 100%;
    visibility: visible;
}

.image img{
    width: 100%;
}

.page-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.page-text h1{
    display: flex;
    flex-direction: column;
    color: hsl(0, 36%, 70%);
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 5px;
}

.page-text span {
    color: hsl(0, 6%, 24%);
    font-weight: bold;
}

.page-text p{
    color: hsl(0, 36%, 70%);
    font-size: 16px;
    margin-bottom: 2rem;
}

.user-input{
    display: grid;
    grid-template-areas: 
    "input arrow"
    "label nothing";
    grid-template-columns: 300px 50px;
}

.user-input input{
    grid-area: input;
    border-radius: 30px;
    height: 50px;
    padding-left: 1rem;
    width: 115%;
    border: 1px solid;
    border-color:  hsl(0, 80%, 86%);
}

.user-input input::placeholder{
    color: hsl(0, 80%, 86%);
}

.user-input label{
    grid-area: label;
    font-size: 16px;
    color: red;
    text-align: left;
    visibility: hidden;
}

.page-text button{
    visibility: hidden;
}

.user-input img{
    width: 100%;
    padding: 1rem;
    height: 50px;
    grid-area: arrow;
    background-color:  hsl(0, 74%, 74%);
    border-radius: 25px;
    visibility: visible;
}

.user-input img:hover{
    background-color: hsl(0, 80%, 86%);
}

@media (min-width:765px){

    body{
        overflow: hidden;
    }
    

    .container{
        grid-template-areas: 
        "brand image"
        "texte image";
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25%;
    }

    .image .img-mobile{
        position: absolute;
        width: 1px;
        visibility: hidden;
        z-index: -1;
    }

    .image .img-desktop{
        position: static;
        z-index: 1;
        height: 100vh;
        width: auto;
        visibility: visible;
        float: right;
    }

    .brand{
        grid-area: brand;
        padding: 4rem;
    }

    .page-text{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: texte;
        text-align: left;
        width: 500px;
    }

    .page-text h1{
        font-size: 50px;
    }

    .page-text p{
        display: flex;
        flex-wrap: wrap;
    }

    .user-input{
        text-align: left;
    }
}

@media (min-width:1050px){
    .page-text{
        padding-left: 4rem;
    }
}

